body, html{
  font: 100% 'Helvetica', arial, sans-serif;
  padding: 0;
  margin: 0;
}
ul{
  padding: 0;
  text-align: center;
  list-style-type: none;
}

ul li{
  padding: 20px;
  transition: background .5s ease;
  border-bottom: .5px solid rgba(0,0,0,0.3);
}

ul li a{
  text-align: center;
  text-decoration: none;
  padding: 20px;
  width: 100%;
/*   border-bottom: .5px solid rgba(0,0,0,0.3); */
  text-transform: uppercase;
  font-size: small;
}

ul li:hover{
   background: rgba(0,0,0,0.1);
}

.nav-mobile{
   background: lightcyan;
}
